@media screen and (min-width: 1020px) {
    .heart { /*f*/
        height: 55px !important;
    }
    .front-roses-img { /*i*/
        width: 80% !important;
    }
    .heart1 {
        height: 85px;
        width: 65px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    /* .title-header1 {
        padding-top: 4px;
        padding-bottom: 4px;
    } */
    p {
        font-size: 20px;
    }
    .container { /*i*/
        padding: 5px 20px 40px 20px;
    }
    .aside { /*index*/
        font-size: 20px;
    }
    .container-form { /*f*/
        /* width: 95%; */
        margin: 0px 10px 15px 10px;
        /* height: auto; */
    }
    .style1,
    .style2,
    .style3 {
        margin: 0px 0px 15px 0px;
    }
    .titleHeader { /*f*/
        font-size: 35px;
        padding: 0px 0px;
    }
    .titleHeader1 { /*i*/
        font-size: 55px;
    }
    /* .boxRight {
        width: 50%;
        padding: 00px 00px 00px 60px; */
    }
    .hi-roses-img { /*i*/
        width: 45%;
    }
    .navbar a {
        padding: 3px 30px;
        font-size: 25px;
    }
    /* .col-8 {
        width: 90% !important;
        padding-left: 20px;
    } */
    .row { /*f*/
        margin-top: 5px;
    }
}

@media screen and (min-width: 1080px) {
    .container { /*i*/
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .row { /*f*/
        margin-top: 60px;
    }
}